* {
    font-family: sans-serif;
    font-size: large;
    box-sizing: border-box;
}

ul {
    list-style-type: none; /* Removes the bullet points */
    padding-left: 0px;
    margin-top: 0px;    /* Removes the default top margin */
    margin-bottom: 0px; /* Removes the default bottom margin */
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid red;
    border-radius: 12px;
    max-width: 280px;
    gap: 20px;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 14px;
}

#bigButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
}

button {
    height: 48px;
    width: 48px;
    font-size: larger;
    border: 1px solid black;
    border-radius: 8px;
}

#bigButtons button {
    height: 44px;
    width: 108px;
    font-size: large;
}

#result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border:1px solid black;
    border-radius: 8px;
    width: 98%;
    height: 40px;
    padding-right: 10px;
}